:root {
  --color-red-500: oklch(63.7% 0.237 25.331);
  --bg-main: oklch(21.6% 0.006 56.043);
  --bg-accordion: oklch(26.8% 0.007 34.298);
}
.bg-main {
  background-color: var(--bg-main);
}
.bg-accordion {
  background-color: var(--bg-accordion);
}
.btn-confirmar {
  background-color: var(--color-red-500);
}
.btn-confirmar:hover:not(:disabled) {
  filter: brightness(0.9);
}
.btn-cancelar {
  background-color: transparent;
  border: 1px solid var(--color-red-500);
  color: var(--color-red-500);
}
.btn-cancelar:hover:not(:disabled) {
  background-color: var(--color-red-500);
  color: white;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-content.active {
  max-height: 1000px;
  transition: max-height 0.3s ease-in;
}
.accordion-arrow {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
.accordion-arrow.rotated {
  transform: rotate(180deg);
}
.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid currentColor;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.page-loading.hidden {
  display: none;
}

img {
  border-radius: 0.5rem;
}
