.leaflet-popup-content {
  margin: 10px 14px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --card-bg-color: rgb(29, 29, 29);
    --color-red-500: oklch(63.7% 0.237 25.331);
  }
}

.card-bg {
  background-color: var(--card-bg-color);
}

.btn-reservar {
  background-color: var(--color-red-500);
  cursor: pointer;
}

.btn-reservar:hover {
  filter: brightness(0.9);
}
