.leaflet-popup-content {
  margin: 10px 14px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --card-bg-color: rgb(29, 29, 29);
    --color-red-500: oklch(63.7% 0.237 25.331);
    --color-tertiary-bg: #655c5c69;
    --color-quaternary-bg: #1d1d1d;  

    
    
  }
}

::-webkit-scrollbar {
  width: 15px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-red-500);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: var(--color-quaternary-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-red-500);
}
